<div class="main-container">
    <div class="left-side">
        <div class="info">
            <h1>Article Title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua ut enim ad. </p>
        </div>
    </div>
    <div class="right-side">
        <div class="logo">
            <img src="../../../../assets/img/logo.png">
        </div>
        <router-outlet></router-outlet>
    </div>

</div>